@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@font-face {
    font-family: 'Gilroy Bold';
    src: url('../utils/gilroy-fonts/Gilroy-ExtraBold.ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy Light';
    src: url('../utils/gilroy-fonts/Gilroy-Light.ttf');
  }
  
  @font-face {
    font-family: 'Circular STD';
    src: url('../utils/circular-std-medium-500.ttf');
  }
.HeroText {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.HeroText>p {
    color: #f3f3f3;
    font-family: "Gilroy Bold";
    font-size: 3rem;
    padding-bottom: 30px;
}

.textContent {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: #f3f3f3;
    margin-top: 5px;
    text-align: center;


}

.QuickLink {
    display: flex;
    justify-content: space-evenly;
}

.quicklinkText {
    text-align: center;
    color: #f3f3f3;
    font-family: "Gilroy Bold";
    text-decoration-line: underline;
    text-decoration-color: #c27662;
}


.QuickLinkImage {
    display: flex;
    margin: auto;
    cursor: pointer;
}
.QuickLinkImage:hover, .quicklinkText:hover, .textContent:hover {
    transform: scale(1.1);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sectionDiv {
    margin-top: 10%;
}

.aboutContent {
    margin-top: 5%;
    margin-bottom: 15%;
}

.aboutText>p:nth-child(1) {
    color: #f3f3f3;
    font-weight: 500;
    font-size: 3em;
    font-family: "Gilroy Bold";
}

.aboutText>p:nth-child(2) {
    color: #f3f3f3;
    font-weight: 500;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

.aboutText>p:nth-child(2) span {
    color: #c27662;
}

.aboutImageCarousel {
    background-image: url('/bushdoings.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    border-radius: 30px;
}

.visionImageCarousel {
    background-image: url('/babe.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    border-radius: 30px;
}

/* TEAM/MEMBERSHIP */
.TeamTitle {
    display: flex;
    justify-content: center;
}

.TeamTitle>p {
    color: #f3f3f3;
    font-size: 2em;
    font-weight: 300;
    font-family: "Gilroy Bold";
    margin-bottom: 10%;
}

.roundedImage {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.teamName {
    color: #000;
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.teamPosition {
    color: #c27662;
    text-align: center;
    margin-top: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}


/* about cards */
.card {
    width: 100%;
    background: #fef3f3;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    border-radius: 30px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Card footer*/
.cardSocial {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    margin-bottom: 10%;
}

.cardSocialItem {
    list-style: none;
}



/*Hover*/
.card:hover {
    box-shadow: 0 8px 50px #23232333;
}

.card:hover .cardInfo {
    transform: translateY(-5%);
}

.card:hover .cardSocial {
    transform: translateY(100%);
    opacity: 1;
}


.cardAvatar:hover {
    transform: scale(1.1);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* MEMBERSHIP */
.memberWrapper {
    margin-top: 10%;
    
}

.memberTitle {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    margin-bottom: 5%;
}
.memberTitle > h1 {
    color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.09rem;
    margin-left: 2%;
}
.memberContainer {
    background-color: #fef3f3;
    width: 100%;
    margin-top: 5%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding:5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}
.memberContainer > p {
    display: flex;
    justify-content: center;

}
.memberImgBg {
    background-image: url("/men.jpeg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding: 0;
    margin: 0;
}
.benefit {
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
.benefitLists > li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}
.topLevel {
    margin-top: 5%;
    color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}
.topLevelSlug {
    font-size: larger;
}

.partnerships {
    text-align: center;
    color: #fef3f3;
    font-family: 'Open Sans', sans-serif;
}
.partnerships p {
    font-size: 1.2em;
}


/* MEDIA QUERY */
@media screen and (max-width: 768px) {

    .aboutText>p:nth-child(1) {
        text-align: center;
    }

    .aboutText>p:nth-child(2) {
        text-align: center;
    }

    .AboutPng {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .QuickLink, .QuickLinkImage, .textContent {
        display: none;
    }
    .memberContainer {
        padding: 2rem;
        /* margin: 0; */
    }
}