@font-face {
  font-family: 'Gilroy Bold';
  src: url('../utils/gilroy-fonts/Gilroy-ExtraBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../utils/gilroy-fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'Circular STD';
  src: url('../utils/circular-std-medium-500.ttf');
}

.container {
  background: rgb(3, 1, 42);
  background: linear-gradient(45deg, rgba(3, 1, 42, 1) 20%, rgba(34, 23, 21, 1) 35%);
}

/* NAVBAR */
.navigation {
  height: 6rem;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 0.5rem 0rem;
  background-color:#c27662;
  color: black;
  z-index: 100;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

}

.navigation.down {
  top: -6rem;
  background-color: #CF5B3E;
}

.brandName {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

.brandName>p {
  font-family: "Gilroy Light";
  font-weight: bold;
  font-size: 1.2rem;
}

.navigationMenu {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  padding: 0;
}

.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigationMenu li a {
  font-family: "Gilroy Light";
  font-weight: light;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  position: relative;
  opacity: 0.75px;
}

.navigationMenu li a:hover {
  opacity: 1;
}

.navigationMenu li a::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #fff;
}

.navigationMenu li a::before {
  width: 0%;
  bottom: 0px;
}

.navigationMenu li a:hover::before {
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.sticky {
  background-color: white;
}

/* HEROBANNER */
.herobanner {
  background-image: url('https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669310566/pexels-cliford-mervil-2398220_1_rb4qgx.jpg');
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header {
  display: grid;
  place-content: center;
}

.header>p:nth-child(1) {
  color: #fff;
  font-family: "Gilroy Bold";
  font-size: 3rem;
  line-height: 85.79px;
  padding-top: 50%;
  text-transform: uppercase;
}

.header>p:nth-child(2) {
  font-family: "Gilroy Light";
  font-size: 18px;
  text-align: center;
  color: #fff;
  letter-spacing: .25px;
  margin-top: -20px;
  font-weight: bold;
}

/* BUTTON */
.heroButton {
  display: flex;
  justify-content: center;
}

.button {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: transparent;
  color: #fff;
  font-family: "Gilroy Light";
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
  text-rendering: geometricprecision;
  box-sizing: border-box;
  display: inline-block;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.98px;

}

.button:not(:disabled):hover {
  transform: scale(1.05);
}

.button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button:focus {
  outline: 0 solid transparent;
}

.button:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button:focus:not(:focus-visible):before {
  border-width: 0;
}

.button:not(:disabled):active {
  transform: translateY(.125rem);
}

.socialIcons {
  position: absolute;
  top: 25%;
  right: 2%;
  left: auto;
}

.iconWrapper {
  background: rgba(217, 217, 217, 0.61);
  backdrop-filter: blur(4.5px);
  padding: 13px 18px;
  margin-top: 20px;
  border-radius: 50%;
  transition: all .3s cubic-bezier(0.37, 0.86, 1, 0.48);
}
.iconWrapper:hover {
  transform:scale(0.9);
  transition: all .3s cubic-bezier(0.37, 0.86, 1, 0.48);
}
/* EXPLORE MODULE */
.exploreWrapper {
  margin-top: 15%;
  display: grid;
  place-content: center;
}

.exploreWrapper>.image:nth-child(2) {
  margin-top: -25px;
  margin-left: 20px;
}

.exploreWrapper>.image:nth-child(3) {
  margin-top: -25px;
}

.exploreTitle>p:nth-child(1) {
  margin-top: 15%;
  color: #eee;
  font-size: 3rem;
  font-family: "Gilroy Bold";
  width: 350px;
  letter-spacing: .45px;
}

.exploreTitle>p:nth-child(2) {
  font-family: "Gilroy Light";
  line-height: 30px;
  color: #eee;
  font-size: 1.2em;
  margin-bottom: 10%;
  letter-spacing: 0.044em;
}

/* LOCATION */
.locationTitle {
  text-align: center;
  font-family: "Gilroy Bold";
  font-size: 1.7rem;
  color: #eee;
  padding-top: 10%;
  padding-bottom: 5%;
}


.location {
  position: relative;
  display: grid;
  place-content: center;
}

.locationName {
  text-align: center;
  color: #eee;
  font-family: "Gilroy Light";
  margin-top: 5px;
}

.star {
  position: absolute;
  right: 0;
  left: 60%;
  top: 4px;
  z-index: 1;
}

.locationButton {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.image {
  filter: brightness(100%);
  transition: all 1s ease;
}

.image:hover {
  filter: brightness(50%);
}

/* LOCATION-MOBILE */
.mobileView {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  width: 100%;
  margin: 64px;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

.LocationMobileView {
  display: none;
}

/* SUBSCRIBE */
.subscribe {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

.subScribeContainer {
  background: linear-gradient(89.94deg, #C27662 50.04%, #FED3C7 93.87%);
  border-radius: 41px;
  width: 80%;
  position: relative;
}

.imgContainer {
  position: relative;
  height: 270px;
  width: 270px;
  top: 10px;
  right: 0;
  left: auto;
  float: right;
  padding: 0px 10px;
}

.iconSend {
  position: absolute;
  top: 6px;
  right: 10px;
  left: auto;
  height: 30px;
  width: 30px;
  background-color: #CF5B3E;
  border-radius: 6px;
}

.iconSend>a {
  margin-left: 4px;
  height: 19.5px;
  width: 19.5px;
}

.campContent {
  position: absolute;
  top: 15%;
  left: 5%;
  color: #eee;
}

.campContent>p:nth-child(1) {
  font-size: 2em;
  font-family: 'Gilroy Bold';
}

.campContent>p:nth-child(2) {
  font-size: 1.2em;
  font-family: "Gilroy Light";
  margin-top: -10px;
}

.formContainer {
  position: absolute;
  top: 105%;
}

.formContainer>input {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 16px;
  width: 100%;
  position: relative;
  resize: vertical;
}




/* BOOKING CARD */

.bookingImage {
  background-image: url('/bush.jpg');
  background-position: 0px -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
  margin-top: 10px;
}


/* FOOTER */
.footerContainer {
  background: #F8E1DB;
  border-radius: 86px 86px 0px 0px;
  margin-top: 5%;
}

.footerText {
  margin-top: 15%;
  display: grid;
  place-content: center;
}

.footerText>h4 {
  font-family: "Gilroy Bold";
  text-align: center;
}

.footerText>p {
  font-family: "Gilroy Light";
  font-size: 18px;
}

/* CAROUSEL */
.Carousel {
  width: 50%;
  margin: 5% auto;
}

.carouselSlideOne,
.carouselSlideTwo,
.carouselSlideThree {
  background-position: center;
  background-size: cover;
  height: 50vh;
  border-radius: 55px;
}

.carouselSlideOne {
  background-image: url("/bushman.png");
}

.carouselSlideTwo {
  background-image: url('/pool.png');
}

.carouselSlideThree {
  background-image: url("/adsquad.png");
}

.carouselSlideOne>p:nth-child(1) {
  color: #eee;
  font-family: "Gilroy Bold";
  position: absolute;
  top: 5%;
  left: 7%;
  letter-spacing: 0.35px;
}

.carouselSlideOne>p:nth-child(2) {
  color: #eee;
  font-family: "Gilroy Bold";
  position: absolute;
  top: 12%;
  left: 7%;
  letter-spacing: 0.38px;
}

.carouselSlideTwo>p:nth-child(1) {
  color: #eee;
  font-family: "Gilroy Bold";
  position: absolute;
  top: 5%;
  left: 7%;
  letter-spacing: 0.38px;
}

.carouselSlideTwo>p:nth-child(2) {
  color: #eee;
  font-family: "Gilroy Bold";
  position: absolute;
  top: 12%;
  left: 7%;
  letter-spacing: 0.38px;
}

.carouselSlideThree>p:nth-child(1) {
  color: #eee;
  font-family: "Gilroy Bold";
  position: absolute;
  top: 5%;
  left: 7%;
  letter-spacing: 0.38px;
}

.carouselSlideThree>p:nth-child(2) {
  color: #eee;
  font-family: "Gilroy Bold";
  position: absolute;
  top: 12%;
  left: 7%;
  letter-spacing: 0.38px;
}

.carouselLink {
  position: absolute;
  bottom: 5%;
  right: 10%;
  font-family: "Gilroy Bold";
  color: #eee;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .brandName>p {
    font-size: 20px;
  }

  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display:none;
  }

  .navigationMenu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }

  .socialIcons {
    display: none;
  }

  .herobanner {
    height: 63vh;
    padding: 0px;
    margin: 0px
  }

  .exploreWrapper>.image:nth-child(2) {
    padding: 0px 20px
  }

  .exploreWrapper>.image:nth-child(3) {
    padding: 0px 20px;
  }

  .header>p:nth-child(1) {
    font-size: 1.8em;
    text-align: center;
    margin-top: -10%;
  }

  .header>p:nth-child(2) {
    font-size: 1em;
    text-align: center;
  }

  .exploreTitle>p:nth-child(1) {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  .exploreTitle>p:nth-child(2) {
    font-size: 17px;
    width: 100%;
    text-align: center;
    padding: 0px 20px;
  }

  .locationTitle>p {
    font-size: 35px;
  }

  .LocationMobileView {
    display: inline-block;
  }

  .location {
    display: none;
  }


  .exploreButton {
    display: flex;
    justify-content: center;
  }

  .footerText {
    margin-top: 15%;
    text-align: center;
    padding: 20px;
  }

  .Carousel {
    width: 100%;
    padding: 0px 20px;
  }

  .carouselSlideOne,
  .carouselSlideTwo,
  .carouselSlideThree {
    height: 40vh;
  }

  .imgContainer {
    display: none;
  }

  .campContent>p:nth-child(1) {
    font-size: 1.8em;
    text-align: center;
  }

  .campContent>p:nth-child(2) {
    font-size: 1em;
    text-align: center;
  }

  .subScribeContainer {
    height: 35vh;
    width: 100%;
  }

}

@media only screen and (width: 820px) {

  .button {
    font-weight: bold;
  }

  .herobanner {
    height: 50vh;
  }

  .Carousel {
    width: 100%;
    padding: 0px 20px;
  }

  .imgContainer {
    height: 200px;
    width: 200pxS;
  }

  .campContent>p:nth-child(1) {
    font-size: 1.2em;
  }

  .campContent>p:nth-child(2) {
    font-size: 1em;
  }

}

@media only screen and (width: 912px) {


  .button {
    font-weight: bold;
  }

  .herobanner {
    height: 50vh;
  }

  .Carousel {
    width: 100%;
    padding: 0px 20px;
  }

  .imgContainer {
    height: 200px;
    width: 200pxS;
  }

  .campContent>p:nth-child(1) {
    font-size: 1.2em;
  }

  .campContent>p:nth-child(2) {
    font-size: 1em;
  }
}