@font-face {
  font-family: 'Gilroy Bold';
  src: url('../utils/gilroy-fonts/Gilroy-ExtraBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../utils/gilroy-fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'Circular STD';
  src: url('../utils/circular-std-medium-500.ttf');
}

.container {
  background: rgb(3,1,42);
  background: linear-gradient(45deg, rgba(3,1,42,1) 20%, rgba(51,36,33,1) 35%);
  height: 100vh;
}

/* NAVBAR */
.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: transparent;
  color: black;
  z-index: 1;
}

.brandName {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

.brandName>p {
  font-family: "Gilroy Light";
  font-weight: bold;
  font-size: 1.2rem;
}

.navigationMenu {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  padding: 0;
}

.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigationMenu li a {
  font-family: "Gilroy Light";
  font-weight: light;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

/* HEROBANNER */
.herobanner {
  background-image: url('https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669310566/pexels-cliford-mervil-2398220_1_rb4qgx.jpg');
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
}

.header>p:nth-child(1) {
  color: #fff;
  position: absolute;
  font-family: "Gilroy Bold";
  font-size: 3rem;
  top: 15%;
  display: grid;
  place-content: center;
  line-height: 85.79px;
}

.header>p:nth-child(2) {
  position: absolute;
  top: 32%;
  font-family: "Gilroy Light";
  font-size: 16px;
  text-align: center;
  color: #fff;
  letter-spacing: .25px;
}

/* BUTTON */
.button {
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: transparent;
  color: #fff;
  font-family: "Gilroy Light";
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}

.heroButton {
  position: absolute;
  top: 60%;
}

.socialIcons {
  position: absolute;
  top: 25%;
  right: 2%;
  left: auto;
}

.iconWrapper {
  background: #D9D9D99C;
  padding: 17px;
  margin-top: 20px;
  border-radius: 55%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .smallNav {
    display: none;
  }

  .brandName>p {
    font-size: 20px;
  }

  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display: none;
  }

  .navigationMenu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }

  .socialIcons {
    display: none;
  }

  .header>p:nth-child(1) {
    top: 20%;
    font-size: 35px;
  }

  .header>p:nth-child(2) {
    top: 35%;
    font-size: 15px;
  }
}

@media only screen and (width: 820px) {
  .header>p:nth-child(1) {
    top: 22%;
    font-size: 3rem;
  }

  .header>p:nth-child(2) {
    top: 38%;
    font-size: 15px;
  }

  .heroButton {
    position: absolute;
    top: 55%;
  }

  .button {
    font-weight: bold;
  }

  .herobanner {
    min-height: 65vh;
  }
}

@media only screen and (width: 912px) {
  .header>p:nth-child(1) {
    top: 22%;
    font-size: 3rem;
  }

  .header>p:nth-child(2) {
    top: 38%;
    font-size: 15px;
  }

  .heroButton {
    position: absolute;
    top: 55%;
  }

  .button {
    font-weight: bold;
  }

  .herobanner {
    min-height: 65vh;
  }
}