@font-face {
    font-family: 'Gilroy Bold';
    src: url('../utils/gilroy-fonts/Gilroy-ExtraBold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../utils/gilroy-fonts/Gilroy-Light.ttf');
}

@font-face {
    font-family: 'Circular STD';
    src: url('../utils/circular-std-medium-500.ttf');
}

/* BANNER */
.banner {
    background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669371007/DSC02607_qzlpci.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.eventBanner {
    background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669371007/DSC02607_qzlpci.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.bannerHeader>p:nth-child(1) {
    padding-top: 20%;
    color: #fff;
    font-family: "Gilroy Bold";
    font-size: 2.2rem;
    text-align: center;
}

.bannerHeader>p:nth-child(2) {
    color: #fff;
    letter-spacing: .30px;
    font-family: "Gilroy Light";
    text-align: center;
    margin-top: -20px;
}

.booking {
    display: flex;
    justify-content: center;
}

/* FORM */

.form>input {
    display: block;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-top: 15px;
    border: 2px solid #145a32;
    width: 100%;
    background-color: #fff;
}

.form>input::placeholder {
    color: #909497;
    font-family: "Gilroy Light";
}

.paystackButton {
    background-color: #145a32;
    color: #fff;
    transition: all 0.8 ease-in;
    font-family: "Gilroy Light";
    width: 100%;
    border:none;
    padding: 10px 16px;
    margin-top: 10px;
}

.paystackButton:hover {
    background-color: #f3f3f3;
    color: black;
    transition: all 0.8 ease-in;
    font-family: "Gilroy Light";
    border: 2px solid #145a32
}

/* GALLERY */
.wrapper {
    min-height: 50vh;
}

/* MEDIA QUEURIES */
@media screen and (max-width: 768px) {

    .eventBanner {
        background-image: url("/campout.webp");
    }
}

@media only screen and (width: 820px) {
    .bannerHeader>p:nth-child(2) {
        top: 30%;
    }
}

@media only screen and (width: 912px) {
    .bannerHeader>p:nth-child(2) {
        top: 30%;
    }
}